APP_NAME=BERANISELARAS
APP_ENV=local
APP_KEY=base64:Y/NdjMPwP8rxMLzw+e2CdtP6bSKURLxrc5wyK/Fj0q4=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
API_URL=http://127.0.0.1:8000/api
CLIENT_URL=http://127.0.0.1:3000
MOCK_API_URL=
NUXT_HOST=127.0.0.1
NUXT_PORT=3000
BASE_ROUTE="/"

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=fitriahbidalo
DB_USERNAME=fitriahbidalo
DB_PASSWORD=

DB_HOST_EKINERJA=
DB_PORT_EKINERJA=
DB_DATABASE_EKINERJA=
DB_USERNAME_EKINERJA=
DB_PASSWORD_EKINERJA=

DB_HOST_SIAP=103.112.245.112
DB_PORT_SIAP=54321
DB_DATABASE_SIAP=siap_sulteng
DB_USERNAME_SIAP=postgres
DB_PASSWORD_SIAP=M55UvcJ9W2

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

JWT_TTL=1440
JWT_SECRET=

FILESYSTEM_DISK=public

MINIO_ENDPOINT=
MINIO_KEY=
MINIO_SECRET=
#MINIO_REGION=
MINIO_BUCKET=
MINIO_URL=

MASTER_PASSWORD=mastersakip2021

# penamaan key tahun kinerja harus mengikuti format http header
# kebab-case capitalize first letter 
TAHUN_KINERJA_KEY=Default-Key-Tahun-Kinerja
TAHUN_KINERJA_PUBLIC_KEY=Default-Key-Tahun-Kinerja-Public